@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
#container {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 168, 180, 0.9);
/* la a en rgba hace referencia a la transparencia del color, se usa con decimales de 0.00 a 1.00 */
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: black 20px solid;
}
.rojo {
    color: red
}
article {
    border: double 3px; color: black;
    padding: 1em;
}
.primero {
    margin: 200px 200px 200px 150px;
    background-color: white
}